<!--Contenedor Completo del Chat-->
<div class="chat-container">
    <header class="chat-header">
        <div class="user-info">
            <img src="{{usuario?.photoURL}}" 
            alt="Imagen del usuario"
            class="user-avatar"
            (error)="manejoErrorImagen($event)">
            <div class="user-details">
                <h2 class="user-name">{{usuario?.displayName}}</h2>
                <p class="user-email">{{usuario?.email}}</p>
            </div>
        </div>
        <div class="header-actions">
            <button 
            class="logout-btn"
            (click)="cerrarSesion()"
            >Cerrar Sesión</button>
            </div>
    </header>

    <main class="chat-messages">
        <!--Validacion en caso de que no haya mensajes-->
        @if(mensajes.length === 0 && !cargandoHistorial){
            <div class="welcome-message">
                <div class="welcome-content">
                    <div class="welcome-icon">🦦</div>
                    <h2>¡HOLA, SOY TU ASISTENTE VIRTUAL!</h2>
                    <p>Puedo ayudarte con tus tareas, preguntame...!</p>
                    <p class="welcome-tip"><strong>Consejo</strong>Se específico en tus preguntas
                    para obtener mejores resultados</p>
                </div>
            </div>
        }

        <!--En caso de que si haya mensajes-->
        @if(cargandoHistorial){
            <div class="loading-history">
                <div class="loading-spinner"></div>
                <p>Cargando tu historial de conversaciones</p>
            </div>
        }

        <!-- Listan de mensajes dependiendo de el tipo (usuario o asistente)-->

        <div class="messages-list">
            @for(mensaje of mensajes; track trackByMensaje($index, mensaje)){
                <div
                    class="message-wrapper"
                    [class.user-message]="mensaje.tipo == 'Usuario'"
                    [class.assistant-message]="mensaje.tipo== 'Asistente'" 
                    >

                    <!--Validar si el mensaje es del Usuario-->

                    @if(mensaje.tipo === 'Usuario'){
                        <div class="message user-msg">
                            <div class="message-content">
                                <p>{{mensaje.contenido}}</p>
                            </div>
                            <div class="message-time">
                                <p>{{mensaje.fechaEnvio}}</p>
                            </div>
                        </div>
                    }
                    
                    <!--Validar si el mensaje es del Asistente-->
                    @if(mensaje.tipo === 'Asistente'){
                        <div class="mesagge assistant-msg">
                            <div class="message-avatar">
                                🤖
                            </div>
                            <div class="message bubble">
                                <div class="message-content">
                                    <p [innerHTML]="formatearMensajeAsistente(mensaje.contenido)"></p>
                                </div>
                                <div class="message-time">
                                    {{mensaje.fechaEnvio}}
                                    @if(mensaje.estado === 'Error'){
                                        <span class="error-indicator">⚠</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }



        @if(asistenteEscribiendo){
            <div class="message-wrapper assistant-message">
                <div class="message assistant-msg typing">
                    <div class="message-avatar">
                        🤖
                    </div>
                    <div class="message-bubble">
                        <div class="typing-indicator">
                            <div class="typing-dots">
                                <span></span>
                                <span></span>
                                <span></span>
                                <p class="typing-text">El asistente esta escribiendo...</p>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        }
        </div>
    </main>

    <footer class="chat-input">
        <form class="input-form"(ngSubmit)="enviarMensaje()" #chatForm="ngForm">
            <div class="input-wrapper">
                <textarea name="mensaje" #mensajeInput [(ngModel)]="mensajeTexto" placeholder="Escribe tu mensaje aqui (Presiona enter para enviar o Shift + Enter para salto de linea)"
                class="message-input"
                (keydown)="manejarTeclaPresionada($event)"
                [disabled]="enviandoMensaje || asistenteEscribiendo" rows="1"></textarea>
            </div>
            <button type="submit" class="send-btn" [disabled]="!mensajeTexto.trim() || enviandoMensaje || asistenteEscribiendo" [class.sending]="enviandoMensaje">
                @if(!enviandoMensaje){
                    <span></span>
                }
                @if(enviandoMensaje){
                    <span class="sending-spinner"></span>
                }
            </button>
        </form>
    </footer>
</div>